/* body{
    background-color: red;
} */
/* Navigation section */
#navbar{
    flex-direction: column;
}

#navbar ul li a{
    font-size: 1rem;
    padding: 0px 4px;
    padding-bottom: 8px;
}

/* Home section */
#home{
    height:100px;
    padding: 2px 16px;

}
#home::before{
    height:257px;

}

#home p{
    font-size: 10px;
}
/* Services section */

#services{
    flex-direction: column;
}

/* #services .box{

} */

/* Client Section */
#clients{
    /* overflow: hidden; */
    flex-wrap: wrap;
}

#clients img{
    width: 90px;
    height: 80px;
    padding: 1px;
}
/* Utility Class */

.h-primary{
    font-size: 12px;
    padding: 27px;
}