/* CSS Reset  */
*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;   
}

/* CSS variables */
:root{
    --navbar-height: 5px;
}

/* Navigation Bar */

#navbar{
    display: flex;
    align-items: center;
    position: relative;
    top: 0px;
}

#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.4;
}

/* Navigation Bar: Logo and Image */

#logo{
    margin: 20px 34px;
}

#logo img {
        height: 53px;
        margin: 5px 6px;  
}

/* Navigation Bar: List and sytyling */

/* #navbar{
    position: relative;
} */

#navbar ul{
    display: flex;
    /* font-family: 'Baloo Bhai 2',cursive; */
    font-family: 'Suez One', serif;
}

#navbar ul li{
    list-style: none;
    font-size: 1.3rem;

}

#navbar ul li a{
    color: white;
    display: block;
    padding: 3px 22px;
    border-radius: 10px;
    text-decoration: none; 
}

#navbar ul li a:hover{
    color:black;
    background-color: white;
}

/* HOME section */

#home{
    display: flex;
    flex-direction: column;
    padding: 3px 20px;
    height: 274px;
    justify-content: center;
    align-items: center;
}

#home::before{
    content: "";
    background: url('../image/net-logo.jpg') no-repeat center center/cover;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 39%;
    width: 100%;
    z-index: -1;
    opacity: 0.89;
}

#home h1{
    color: white;
    text-align: center;
    font-family: 'Bree Serif', serif;
}

#home p{
    color: white;
    text-align: center;
    font-size: 0.8rem;
    font-family: 'Bree Serif', serif;
}

/* Datacenter Services Section */
#services{
    margin: 25px;
    display: flex;
    padding:10px;
}

#services .box{
    border: 2px solid brown;  
    margin: 1px 1px;
    padding: 34px;
    border-radius: 25px; 
    background: #f3eeee;
}

#services .box img{
    height: 50px;
    margin: auto;
    display: block;
}

#services .box p{
    /* font-family: 'Suez One', serif; */
    font-family: 'Baloo Bhai 2',cursive;

}
/* Novello Team members (Client) Section */

#client-section{
    height: 1px;
}
#client-section::before{
    content: "";
    position: absolute;
    background: url('../image/cloud1.jpg');
    width:100%;
    height:33%;
    z-index: -1;
    opacity: 0.40;
}

#clients{
    display: flex;
    justify-content: center;
    align-items: center;
}

.client-item{
    padding:30px;

}

#clients img{
    height: 130px;
} 
/* ############## */

/* Storage section */


/* #storage-section{
    height: 1px;
}
#storage-section::before{
    content: "";
    position: absolute;
    background: url('../image/dc.jpeg');
    width:100%;
    height:33%;
    z-index: -1;
    opacity: 0.40;
} */

/* #clients{
    display: flex;
    justify-content: center;
    align-items: center;
}

.client-item{
    padding:30px;

}

#clients img{
    height: 130px;
}  */


/* Contact Sections */

/* #contact{
    position: relative;
} */

/* #contact::before{
    content: "";
    position: absolute;
    width: 100%;
    height:100%;
    z-index: -1;
    opacity: 0.7;
    background: url('../image/con1.png') no-repeat center center/cover;
} */

/* Utility class */

.h-primary{
    font-family: 'Suez One', serif;
    font-size: 1.8rem;
    padding: 12px;
    text-align: center;
}

/* .center{
    text-align: center;
} */

.h-secondary{
    font-family: 'Suez One', serif;
    font-size: 1.1rem;
    padding: 16px;
    text-align: center;
}

.center{
    text-align: center;
}


